
@import "tailwindcss";


/* --- Fuente base y reset --- */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background: transparent;
  color: black;
}

/* --- Elimina azul de los inputs en mobile --- */
input,
textarea,
button,
select {
  font-family: inherit;
  outline: none;
}

/* --- Scrollbar minimal (opcional) --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
