
@import "tailwindcss";


/* --- Fuente base y reset --- */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
}

/* --- Elimina azul de los inputs en mobile --- */
input,
textarea,
button,
select {
  font-family: inherit;
  outline: none;
}

/* --- Scrollbar minimal (opcional) --- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
